.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overflow: hidden; */
}

.logo {
  width: 50%;
}

.menu {
  padding-top: 30px;
  width: 50%;
  text-align: right;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: 15px;
  margin-right: 15px;
}

.extras {
  width: 450px;
  height: 450px;
  background-color: #247844; /* Cor do círculo */
  border-top-right-radius: 0; /* Arredonda o canto superior direito */
  border-top-left-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.social-media {
  position: absolute;
  right: 250px;
  top: 350px;
  z-index: 1;
}

.social-media img {
  display: block;
  width: 30px;
  margin: 20px 0;
}

.texto-sobre {
  margin-top: 50px;
  padding-left: 30px;
}

.texto-sobre h1 {
  font-size: 30px;
}

.texto-sobre p {
  margin: 20px 0;
  color: black;
  font-size: 14px;
  font-weight: bold;
  max-width: 800px;
}

.texto-sobre button {
  border: 0;
  background-color: #017143;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.containerHome {
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
}

.main {
  display: flex;
  /* margin-top: 40px; */
}
